{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
 <div class="row">
     Hello this is a CF Python test app
 </div>
<div class="row">
    <div class="col-xs-3">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">CF App Details</h4>
                <p class="card-text">App Port {{app_port}}</p>
            </div>
        </div>

    </div>
    <div class="col-xs-3">
       Page Title {{page_title}}
    </div>
    <div class="col-xs-3">
        
    </div>
</div>
</div>
 
{% endblock %}

