{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
 <div class="row">
     <h1 class="display-1">SAP Cloud ALM Projects</h1>
 </div>
<div class="row">
    <div class="col-xs-2">            
    <table class="table">
        <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>status</th>   
                    </tr>
                </thead>
                <tbody>
        {% for pro in projects %}
        <tr>
            <td scope="row"><a href="/tasks?project={{pro.id}}" class="badge badge-primary"> {{pro.name}}</a></td>
            <td>{{pro.id}}</td>
            <td>{{pro.status}}</td>
        </tr>
            {% endfor %}   
        </tbody>
    </table>
    </div>
</div>
</div>
 
{% endblock %}

